<p>Hi <%= @user.name %>,</p>
<p>
I am Shun, founder of Officehour. I found you on <strong><%= @user.reference %></strong>, and
I wonder we could work with together :)
</p>
<p>  
We'll launch a new platform where
people talk, learn and find fellows with each other by influencers
like YOU. This time I'd like you to build a subscription community
on Officehour. You can make business here.
</p>
<p>There are some problems when influencers publish valuable tips:</p>
<ul>
<li>No way to deliver contents to only subscribers you want</li>
<li>Hard to build a monetization model</li>
<li>Hard to connect with customers deeply</li>
</ul>
<a href="https://officehour.ch" target="_link">
    APPLY A COMMUNITY
</a>
<p>
Build something 100 people subscribe, not something 1 million people
follow. This is our concept. We're working on helping you to build a
first subscription Slack community. You can earn money by organizing
and managing the community stable.
</p>
<p>
You can check it out
<a
    target="_link"
    href="https://www.slideshare.net/ShunYamada/officehour-service-guide"
>
    service guide.</a
>
</p>
<p>
Feel free to ask me anything. And we can't wait to see your
exciting community!
</p>

---
<p>Officrhour, Shun Yamada</p>
<p>TEL: (1)628-867-9872</p>
<p>MAIL: info@gociao.com</p>
<p>
SCHEDULE:
<a href="https://calendly.com/ciao/30min" target="_link"
    >https://calendly.com/ciao/30min</a
>
</p>
<p>©︎Officehour 2019 Officehour Inc. All rights reserved.</p>
