<!DOCTYPE html>
<html>
  <head>
    <title>Welcome! The Community on Officehour</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Raleway:800"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        font-family: "Roboto", sans-serif;
        color: #252526;
        line-height: 1.8;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
      }
      .mailer {
        max-width: 640px;
        padding: 30px 15px;
        margin: 0 auto;
      }
      .mailer .header img {
        width: 160px;
      }
      .mailer .body {
        padding: 20px 10px;
      }
      .mailer .body .description {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #d8d8d8;
      }
      .mailer .footer {
        text-align: center;
        font-size: 12px;
        color: #d8d8d8;
      }
      .mailer .body label {
        color: #d8d8d8;
        font-weight: bold;
      }
      .mailer .body .thanks {
        margin-top: 45px;
      }
      .mailer a {
        color: #1ba1d6;
      }
      .btn {
        font-family: "Nunito", sans-serif;
        font-size: 14px;
        background: #1ba1d6;
        border-radius: 2px;
        color: #fff;
        border: none;
        box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
        padding: 12px 25px;
        max-width: 180px;
        text-align: center;
        margin: 15px 0;
      }
      .footer .contact p {
        color: #555;
        margin: 0;
        padding: 0;
      }
      .image img {
        width: 100%;
      }
      strong {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="mailer">
      <div class="header">
        <a href="https://offichour.ch">
          <img src="https://s3-us-west-1.amazonaws.com/officehour/tlogo.png" />
        </a>
      </div>
      <div class="body">
        <div class="description">
          <p>Hi <%= @user.name %>,</p>
          <p>
            I am Shun, founder of Officehour. I found you on <strong><%= @user.reference %></strong>, and
            I wonder we could work with together :)
          </p>
          <p>  
            We'll launch a new platform where
            people talk, learn and find fellows with each other by influencers
            like YOU. This time I'd like you to build a subscription community
            on Officehour. You can make business here.
          </p>
          <p>There are some problems when influencers publish valuable tips:</p>
          <ul>
            <li>No way to deliver contents to only subscribers you want</li>
            <li>Hard to build a monetization model</li>
            <li>Hard to connect with customers deeply</li>
          </ul>
          <a href="https://officehour.ch" target="_link">
            <div class="btn">
              APPLY A COMMUNITY
            </div>
          </a>
          <p>
            Build something 100 people subscribe, not something 1 million people
            follow. This is our concept. We're working on helping you to build a
            first subscription Slack community. You can earn money by organizing
            and managing the community stable.
          </p>
          <p>
            You can check it out
            <a
              target="_link"
              href="https://www.slideshare.net/ShunYamada/officehour-service-guide"
            >
              service guide.</a
            >
          </p>
          <p>
            Feel free to ask me anything. And we can't wait to see your
            exciting community!
          </p>
          <div class="image">
            <img
              src="https://s3-us-west-1.amazonaws.com/officehour/mockup_top.png"
            />
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="contact">
          <p>Officrhour, Shun Yamada</p>
          <p>TEL: (1)628-867-9872</p>
          <p>MAIL: info@gociao.com</p>
          <p>
            SCHEDULE:
            <a href="https://calendly.com/ciao/30min" target="_link"
              >https://calendly.com/ciao/30min</a
            >
          </p>
        </div>
        <p>©︎Officehour 2019 Officehour Inc. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
